<!DOCTYPE html>
<html>
    <head>
        <title>#decarbnow</title>
        <meta charset="UTF-8">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="Platform to pinpoint polluters, share climate stories, and promote action">
        <meta name="twitter:title" content="#decarbnow">
        <meta property="og:image" content="<%= htmlWebpackPlugin.options.environment.url.list.live %>/static/preview.jpg">
    </head>
    <body>
        <div id="map"></div>
        <div id="show-tweet-sidebar"></div>
        <%if (false) {%>
        <div id='new-tweet-sidebar'>
            <h3>Tweet about</h3>
            <div class="select">
                <select class="icontype">
                    <option value="pollution">Pollution</option>
                    <option value="climateaction">Climate Action</option>
                    <option value="transition">Transition</option>
                </select>
            </div>
            <form>
                <textarea cols="22" rows="5"></textarea>
            </form>
            <div class='tweetBtn'>
                <a class="twitter-share-button" href="http://twitter.com/share" data-url="null" data-text="#decarbnow">Tweet</a>
            </div>
        </div>
        <%}%>
    </body>
</html>
