@import '../node_modules/leaflet/dist/leaflet.css';
@import '../node_modules/leaflet.markercluster/dist/MarkerCluster.css';
@import '../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css';
//@import '../node_modules/leaflet-sidebar/src/L.Control.Sidebar.css';
@import '../node_modules/leaflet-control-geocoder/dist/Control.Geocoder.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
//@import '../node_modules/leaflet-contextmenu/dist/leaflet.contextmenu.css';
@import 'nerdfonts/css/bootstrap-grid.min.css';
@import '../node_modules/reset-css/sass/reset';
@import '../node_modules/choices.js/public/assets/styles/base.min.css';
@import '../node_modules/choices.js/public/assets/styles/choices.min.css';
@import '../node_modules/leaflet-draw/dist/leaflet.draw.css';
@import '../node_modules/leaflet-easybutton/src/easy-button.css';
@import '../node_modules/leaflet-control-window/src/L.Control.Window.css';
@import '../node_modules/leaflet.control.layers.tree/L.Control.Layers.Tree.css';
@import '../node_modules/leaflet-minimap/dist/Control.MiniMap.min.css';
@import '../node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.css';
@import '../node_modules/zoom-vanilla.js/css/zoom.css';


html {
    font-family: Verdana, Arial;
}

body {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

img {
    max-width: inherit;
    width: inherit;
    object-fit: cover;
  }

#map {
    height: 50vh;
    width: 100vw;
    position: absolute;
    z-index: 83;
    background-color: #fff;
    color: #000;
    //border-right: 1px solid #ccc;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    /* Align the left side of the map with the left side of the viewport */
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.85);
}

#sidebar {
    position: absolute;
    top: 50vh;
    width: 100vw;
    height: calc(100vh - 50vh);
    z-index: 80;
    background-color: #fff;
    color: #000;
    border-left: 1px solid #ccc;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    /* Align the top of the sidebar with the top of the viewport */
    right: 0;
    /* Adjust the left position of the sidebar */
}

.loading-message {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    background-color: white;
    left: 0;
    position: absolute;   /* Fixed/sticky position */
    width: 100%;
    height: 100%;
    z-index: 5000;    /* Sit on top */
    overflow: auto;   /* Enable scroll if needed */
    transition: 0.1s; /* Half a second transition effect */
    flex-direction: column;

}


@media screen and (min-width: 768px) {

    #map {
        width: calc(100vw - 350px);
        /* Adjust the width of the map */
        min-width: calc(100vw - 40vw);
        height: 100vh;
        background-color: #fff;
        /* Set the background color */
        color: #000;
        border-right: 1px solid #ccc;
        /* Optional: Add a border on the right side */
        padding: 0px;
        /* Optional: Add padding inside the map */
        box-sizing: border-box;
        /* Include padding and border in the element's total width and height */
        overflow: hidden;
        /* Hide overflow content */
        position: fixed;
        /* Fixed positioning so that it stays in place while scrolling */
        top: 0;
        /* Align the top of the map with the top of the viewport */
        left: 0;
        /* Align the left side of the map with the left side of the viewport */
    }

    #sidebar {
        width: calc(100vw - 60vw);
        /* Adjust the width of the sidebar */
        max-width: 350px;
        height: 100vh;
        background-color: #fff;
        /* Set the background color */
        color: #000;
        border-left: 1px solid #ccc;
        /* Optional: Add a border on the left side */
        padding: 0px;
        /* Optional: Add padding inside the sidebar */
        box-sizing: border-box;
        /* Include padding and border in the element's total width and height */
        overflow-y: auto;
        /* Add a vertical scrollbar if the content overflows */
        position: fixed;
        /* Fixed positioning so that it stays in place while scrolling */
        top: 0;
        /* Align the top of the sidebar with the top of the viewport */
        right: 0;
        /* Adjust the left position of the sidebar */
    }

}

.container {
    position: relative;
    margin: 8px auto;
    max-width: 90vw; /* 80% of the viewport's width */
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.search-container {
    position: relative;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


#term-search {
    padding: 8px;
    width: calc(100% - 32px);
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #ffffff;
    color: #646464;
}


.tweet-icon {
    font-size: 24px;
    color: #1da1f2;
    margin-right: 10px;
    margin-top: 3px;
}

.tweet-container {
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    position: relative; /* Needed for the pseudo-element */
    transition: background-color 0.3s;
}


.tweet-container .story-head {
    border-top: 1px solid rgb(226, 229, 230) !important;
    margin-top: 10px;
    margin-right: 10px;
    position: relative; /* Needed for the pseudo-element */
    transition: background-color 0.3s;
    border-bottom-left-radius: 140px;
}

.tweet-container .story-indent {
    border-top: none !important;
    font-size: 14px;
    display: flex;
    margin-top: 0 !important;
    align-items: start;
    //border-left: 2px solid #a8a8a8;
    border-left: 2px solid rgb(226, 229, 230);
    padding-top: 0px;
    position: relative;   
    margin-left: 30px;
}

#sidebar a {
    color: blue;
}

.tweet-link {
    /* Add styles for the tweet link */
    display: block;
    margin-top: 8px;
}

.clear-btn {
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-52%);
    background: none;
    border: none;
    padding: 5px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #afafaf;
    z-index: 1;
    cursor: pointer;
}

.message-content {
    font-weight: bold;
    line-height: 1.5em;
    font-size: 14px;
    padding: 0px; /* Optional: Add padding for better visual appearance */
}

.message-footnote {
    font-weight: normal;
    line-height: 1.5em;
    font-size: 12px;
    padding: 2px; /* Optional: Add padding for better visual appearance */
}

.message {
    border-right: 2px solid transparent; /* Add a black border around the content */
    padding: 14px; /* Optional: Add padding for better visual appearance */
    //padding-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    //border-radius: 4px;
    //background-color: #fff;
    pointer-events:none;
}



.message.active {
    //background-color: #f5f5f5;
    background-color: rgb(226, 229, 230);
    border-right: 2px solid rgb(92, 92, 92); /* Add a black border around the content */
    //border-radius: 4px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-color: #0060df;
    cursor: default !important;
    pointer-events: all;
}

.message-container {
    //margin-top: 10px;
    background-color: #fff;
    cursor: pointer !important;
}

.hashtag{
    color: red !important;
}

.account{
    color: #555 !important;
}

.top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.top-btn:hover {
    background-color: #45a049;
}

.back-btn {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #45a049;
}

#prev-button {
    width: 80px;
    transition: background-color 0.3s;
}

#next-button {
    width: 80px;
    transition: background-color 0.3s;
}

#prev-button:hover {
    background-color: #45a049;
}
#next-button:hover {
    background-color: #45a049;
}


.navigation-button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}



#tweets-navigation{
    padding: 14px;
}

.tweet-header {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    //padding-top: 5px;
}

.tweet-media{
    padding: 5px;
}

.invisible {
    display: none;
}

.tweet-header {
    display: flex;
    align-items: center;
}

.tweet-avatar img {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%; /* To create a circular avatar */
}

.tweet-avatar.story img {
    position: absolute;
    left: -19px;
    top: 12px;
    width: 36px; /* Adjust the size as needed */
    height: 36px; /* Adjust the size as needed */
    border-radius: 50%; /* To create a circular avatar */
}

.tweet-username {
    margin-left: 10px; /* Adjust the spacing between the avatar and the username */
}

.display-name {
    font-weight: bold; /* Optional: Make the display name bold */
}

.account-name {
    color: #555; /* Optional: Change the color of the account name */
}

@import 'map/controlwindow.scss';
@import 'map/icons.scss';
@import 'map/popup.scss';
@import 'map/controls.scss';

@import 'map/scripts/Control.MagnifyingGlass.scss';
