@import '../node_modules/leaflet/dist/leaflet.css';
@import '../node_modules/leaflet.markercluster/dist/MarkerCluster.css';
@import '../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css';
//@import '../node_modules/leaflet-sidebar/src/L.Control.Sidebar.css';
@import '../node_modules/leaflet-control-geocoder/dist/Control.Geocoder.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
//@import '../node_modules/leaflet-contextmenu/dist/leaflet.contextmenu.css';
@import 'nerdfonts/css/bootstrap-grid.min.css';
@import '../node_modules/reset-css/sass/reset';
@import '../node_modules/choices.js/public/assets/styles/base.min.css';
@import '../node_modules/choices.js/public/assets/styles/choices.min.css';
@import '../node_modules/leaflet-draw/dist/leaflet.draw.css';
@import '../node_modules/leaflet-easybutton/src/easy-button.css';
@import '../node_modules/leaflet-control-window/src/L.Control.Window.css';
@import '../node_modules/leaflet.control.layers.tree/L.Control.Layers.Tree.css';

html {
    font-family: Helvetica, Arial;
}

html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
}

@import 'map/controlwindow.scss';
@import 'map/icons.scss';
@import 'map/popup.scss';
@import 'map/controls.scss';
