.leaflet-control-window-wrapper{
    display: none;
    opacity: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 18px;
}

.nonmodal{
    z-index: 6000;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7000;
    pointer-events: none;
    //background-color: rgba(0, 0, 0, 0.7);
}

.visible {
    display: block;
    opacity: 1;
    -webkit-touch-callout: none;
}

.leaflet-control-window {
    position: absolute;
    background-color: transparent;
    z-index: 2000;
    margin: 8px;
    border-radius: 8px;
    border: 0;
    width: 320px;
    //opacity: 0.5;
    /** BOX SHADOW **/
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

.leaflet-control-window .titlebar{
    height: 25px;
    opacity: 1 !important;
    min-height: 27px;
    background: #9A9B9C;
    color: black;
    font-weight: normal;
    font-size: 16px;
    font-family: "Verdana", "Arial", sans-serif;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    padding: 2px 45px 10px 10px;
}

.leaflet-control-window .content{
    padding: 0;
    //opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 8px 8px;
    margin-top: 0;
    z-index:29;
    overflow: hidden;
}

.leaflet-control-window .promptButtons{
    padding: 0;
    height: 0;
    line-height: 0;
}


.leaflet-control-window .close {
    position: absolute;
    top: 3px;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    cursor: pointer;
    z-index:30;

    background-color: #E5E5E5;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    font-weight: bolder;

    color: #747576;
    font-size: 14pt;
    text-align: center;
    line-height: 0.9em;
}

.leaflet-control-window .minimize {
    position: absolute;
    top: 3px;
    right: 30px;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    cursor: pointer;
    z-index:30;

    background-color: #E5E5E5;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    font-weight: bolder;

    color: #747576;
    font-size: 14pt;
    text-align: center;
    line-height: 0.9em;
}

.leaflet-control-window .close:hover {
    background-color: rgba(0, 0, 0, 0.65);
}

.leaflet-control-window .minimize:active {
    background-color: rgba(0, 0, 0, 0.65);
}

.twitterwindowmenu {
    color: black;
    background-color: rgb(250, 251, 251);
    border: 1px !important;
    border-style: solid !important;
    border-color: rgb(207, 217, 222) !important;
    border-radius: 12px;
    padding: 15px !important;
    overflow: hidden;
    pointer-events: auto !important;
}

label {
  font-size: 16px;
  padding-bottom: 2px;
  font-family: "Verdana", "Arial", sans-serif;
}

textarea {
   font-size: 16px;
   font-family: "Verdana", "Arial", sans-serif;
}

select {
   font-size: 16px;
   font-family: "Verdana", "Arial", sans-serif;
}

iframe{
    width: 100%;
    pointer-events: all;
    background-color: transparent;
    flex-grow: 1;
    border: none;
    min-height: 200px;
    max-height: 100%;
    overflow: auto;
    display: block;
}

.sidebar-container {
   display: flex;
   flex-direction: column;
   //background-color: white;
   //pointer-events: none;
}

.leaflet-control-window .button {
  border: none;
  padding: 0;
  text-align: center;
  width: 36px;
  height: 36px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 0px;
  border-radius: 100%;
  pointer-events: all;
  font-family: "Verdana", "Arial", sans-serif;
}

.leaflet-control-window .button_active {background-color: #4B7C8B;
                cursor: pointer;
                color: white;}

.leaflet-control-window .button_inactive {background-color: transparent;
  margin: 2px;
  cursor: default;
  color: #4B7C8B;}

.leaflet-control-window .key_container {
  display: flex;
  opacity: 1;
  //column-gap: 0;
  margin: 5px auto;
  width: 100%;
  align-items: center; /* Align Items Vertically */
  justify-content: center; /* Align Items Horizontally (with equal space in between each of them */
  //background: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 100%;
  pointer-events: all;
}

.leaflet-control-window .key {
  text-align: center;
  padding: 0;
  text-align: center;
  width: 36px;
  height: 36px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: "Verdana", "Arial", sans-serif;
  margin: 2px;
  opacity: 0.9;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #c6c6c6;
  background-color: white;
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  //   0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


.leaflet-control-window .key_pn {
  padding: 0;
  text-align: center;
  width: 42px;
  height: 36px;
  text-decoration: none;
  display: inline-block;
  font-size: 0;
  margin: 0;
  opacity: 0.9;
  border-style: solid;
  border-width: 2px;
  border-color: #c6c6c6;
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  //   0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.leaflet-control-window .left {
  border-radius: 8px 0 0 8px;
  font-size: 14px;
  font-family: sans-serif;
}

.leaflet-control-window .right {
  border-radius: 0 8px 8px 0;
  font-size: 14px;
  font-family: sans-serif;
}


.leaflet-control-window .key_active {
  background-color: #09a3cf;//#DD7152;
  border-radius: 8px;
  border-color: #0782a5;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  color: white;}

.leaflet-control-window .key_inactive {
  background-color: white;//09a3cf
  cursor: pointer;
  color: black;}


.leaflet-control-window .key_greyed {
    background-color: #D8D8D8;
    cursor: not-allowed;
    opacity: 1;
    color: #919191;}










































.leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 400px; } /*make bigger here (move original map control)*/

.leaflet-sidebar.right.visible ~ .leaflet-top.leaflet-right {
    right: 390px;
  } /*make bigger here (move original map control)*/

.leaflet-sidebar.right.visible ~ .leaflet-bottom.leaflet-right {
    right: 0;
  } /*make bigger here (move original map control)*/

.leaflet-bottom.leaflet-left {
    padding-bottom: 30px;
    z-index: inherit;
}

.leaflet-control-attribution a{
    color: blue;
}

.leaflet-sidebar {
    padding: 0;
    width: 400px;
    -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
    .leaflet-control {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        padding: 0 8px;
        width: 400px;
        box-shadow: none !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }

    .close {
        z-index: 15000;
        color: rgba(0, 0, 0, 0.6);
        line-height: 0.9em;
        width: 25px;
        height: 25px;
        left: 308px;
        top: 1px;
        font-size: 20px;
        background: transparent;
    }

    h3 {
        font-size: 1.5em;
        margin: 20px 0;
    }

    #show-tweet-sidebar {
      border: 0px;
      pointer-events:none;
        .story {
            display: grid;
            grid-gap: 200px;
            grid-template-columns: 100%;
        }
        .tweet {
            position: relative;
            &:not(.loading) {
                opacity: 0.4;
                transition: all 0.2s linear;


                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    margin-top: 0px;
                    cursor:pointer;
                }

                &.selected {
                    opacity: 1;
                    .overlay {
                        display: none;
                    }
                }

            }
        }
    }

    #new-tweet-sidebar {
        position: relative;
        .select {
            position: relative;
            font-size: 1em;

            select {
                width: 100%;
                flex: 1;
                padding: .2em .5em;
                cursor: pointer;
            }
        }
        textarea {
            z-index: 9999;
            width: 100%;
            margin: 20px 0;
        }
        .tweetBtn {
            float: right;
        }
    }
}
