.marker-pin {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff !important;
    position: absolute;
    left: 62%;
    top: 50%;
    margin: -13px 0 0 -13px;
    z-index: -1;
    -webkit-touch-callout: none;
    &::after {
        content: '';
        width: 18px;
        height: 18px;
        margin: 1px 0 0 1px;
        position: absolute;
        border-radius: 50%;
    }
    &.action::after {
        background: rgb(29, 161, 242)
    }
    &.transition::after {
        background: rgb(57, 219, 113) !important;
    }
    &.pollution::after {
        background: rgba(226, 57, 66, 1) !important;
    }
}

.leaflet-container {-webkit-touch-callout: none;
                    -webkit-user-select: none;}

.crosshair.invisible {
    opacity: 0;
}

.crosshair-visible {
    opacity: 1;
}

.crosshair {
    left: calc(50% - 13px);
    top: calc(50% - 20px);
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1000;
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    color: #3AFF00;//3AFF00;
    font-family: sans-serif;
    text-shadow: 2px 2px 3px #000;
    pointer-events: none;
}

.hidden{
    display: none;
}

/* o align icon*/
.custom-div-icon i {
   position: absolute;
   font-size: 14px;
   left: 0;
   right: 0;
   margin: 6px auto !important;
   text-align: center;
}

.custom-div-icon i.action {
    color: white !important;
    font-size: 12px !important;
    margin: 12px auto;
    padding-top: 2px;
}

.custom-div-icon i.transition {
    color: rgb(255, 240, 20) !important;
    margin: 12px auto;
    padding-top: 1px;
}

.custom-div-icon i.pollution {
    color: rgb(213, 213, 213) !important;
    margin: 12px auto;
    font-size: 17px !important;
    padding-top: 0px;
}

.selected .marker-pin {
    &::after {
        background: rgb(200, 100, 10);
        opacity: 1;
    }
}

.noTweets{
    opacity: 0.4 !important;
}

.bubble {
    position: relative;
    width: 32px;
    height: 30px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;

    &.pollution{
        background: rgba(226, 57, 66, 1) !important;
        color: rgb(213, 213, 213) !important;
        font-size: 26px !important;
    }
    &.action {
        background: rgba(255, 233, 46, 1) !important;
        color: rgba(234, 36, 97, 1) !important;
        font-size: 16px !important;
    }
    &.transition {
        background: rgb(57, 219, 113) !important;
        color: rgb(255, 240, 20) !important;
        font-size: 20px;
    }
}
