.leaflet-popup-content table tr td:first-child{
    padding: 0 5px 0 0;
}
.leaflet-popup-content-wrapper {
    background-color: #FFFFFF
}
.leaflet-popup-tip {
    background: #FFFFFF;
}

//.leaflet-popup-content {
//     height:500px !important;
//}

iframe{
    width: 100%;
    //border: 2px solid #ccc;
}


.button {
  border: none;
  padding: 5px 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 12px 2px;
  border-radius: 10px;
}

.button_active {background-color: #4B7C8B;
                cursor: pointer;
                color: white;}

.button_inactive {background-color: transparent;
                  cursor: default;
                  color: #4B7C8B;}


.key {
  border: none;
  padding: 5px 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 12px 2px;
  border-radius: 15px;
}

.key_pn {
  border: none;
  padding: 5px 5px;
  font-weight: bolder;
  text-align: center;
  width: 45px;
  height: 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 12px 2px;
  border-radius: 15px;
}

.key_active {background-color: #1D9BF0; //C8640A, 1D9BF0
                cursor: pointer;
                font-weight: bold;
                color: white;}

.key_inactive {background-color: #8CABB5;//#4B7C8B
                cursor: pointer;
                color: white;}


.key_greyed {background-color: #D8D8D8;
                  cursor: not-allowed;
                  color: #919191;}
