.leaflet-control-window-wrapper{
    display: none;
    opacity: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 18px;
}

.nonmodal{
    z-index: 6000;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7000;
    pointer-events: none;
    //background-color: rgba(0, 0, 0, 0.7);
}

.visible {
    display: block;
    opacity: 1;
    -webkit-touch-callout: none;
}

.leaflet-control-window{
    position: absolute;
    background-color: white;
    z-index: 2000;
    margin: 8px;
    border-radius: 8px;
    border: 0;
    /** BOX SHADOW **/
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

.leaflet-control-window .titlebar{
    height: 28px;
    background: #9A9B9C;
    color: black;
    font-weight: normal;
    font-size: 16px;
    font-family: "Verdana", "Arial", sans-serif;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    padding: 2px 45px 10px 10px;
}

.leaflet-control-window .content{
    padding: 8px;
    //border-radius: 18px;
    margin-top: 0;
    z-index:29;
    overflow: auto;
}


.leaflet-control-window .close {
    position: absolute;
    top: 3px;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    cursor: pointer;
    z-index:30;

    background-color: #E5E5E5;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    font-weight: bolder;

    color: #747576;
    font-size: 14pt;
    text-align: center;
    line-height: 0.9em;
}

.leaflet-control-window .close:hover {
    background-color: rgba(0, 0, 0, 0.65);
}

.leaflet-popup-content table tr td:first-child{
    padding: 0 5px 0 0;
}
.leaflet-popup-content-wrapper {
    background-color: #FFFFFF;
}
.leaflet-popup-tip {
    background: #FFFFFF;
}

.leaflet-popup-content a {
    color: blue;
    text-decoration: none;
    font-weight: normal;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "Verdana", "Arial", sans-serif;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #878787;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #878787;
}

.sidebar-container {
   display: flex;
   flex-direction: column;
   background-color: white;
   //pointer-events: none;
}

.twitterwindowmenu {
    color: black;
    background-color: rgb(250, 251, 251);
    border: 1px !important;
    border-style: solid !important;
    border-color: rgb(207, 217, 222) !important;
    border-radius: 12px;
    padding: 15px !important;
    overflow: hidden;
    pointer-events: auto !important;
}

label {
  font-size: 16px;
  padding-bottom: 2px;
  font-family: "Verdana", "Arial", sans-serif;
}

textarea {
   font-size: 16px;
   font-family: "Verdana", "Arial", sans-serif;
}

select {
   font-size: 16px;
   font-family: "Verdana", "Arial", sans-serif;
}

iframe{
    width: 100%;
    pointer-events: all;
    background-color: transparent;
    flex-grow: 1;
    border: none;
    min-height: 200px;
    max-height: 100%;
    overflow: auto;
}

.button {
  border: none;
  padding: 0px 0px;
  text-align: center;
  width: 36px;
  height: 36px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 0px;
  border-radius: 100%;
  pointer-events: all;
  font-family: "Verdana", "Arial", sans-serif;
}

.button_active {background-color: #4B7C8B;
                cursor: pointer;
                color: white;}

.button_inactive {background-color: transparent;
                  cursor: default;
                  color: #4B7C8B;}

.key_container {
  display: flex;
  column-gap: 3px;
  margin: 5px auto;
  width: 96%;
  height: 40px;
  align-items: center; /* Align Items Vertically */
  justify-content: center; /* Align Items Horizontally (with equal space in between each of them */
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 100%;
  pointer-events: all;
}

.key {
  text-align: center;
  border: none;
  padding: 0px 0px;
  text-align: center;
  width: 36px;
  height: 36px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: "Verdana", "Arial", sans-serif;
  margin: 0px 0x;
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #c6c6c6;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.key_pn {
  border: none;
  padding: 0px 0px;
  text-align: center;
  width: 52px;
  height: 36px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: "Verdana", "Arial", sans-serif;
  margin: 0px 0px;
  border-radius: 18px;
  border-style: solid;
  border-width: 2px;
  border-color: #c6c6c6;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.key_active {background-color: #DD7152;
             cursor: pointer;
             font-weight: bold;
             color: white;}

.key_inactive {background-color: #09a3cf;
                cursor: pointer;
                color: white;}


.key_greyed {background-color: #D8D8D8;
             cursor: not-allowed;
             color: #919191;}
