.leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 400px; } /*make bigger here (move original map control)*/

.leaflet-sidebar.right.visible ~ .leaflet-top.leaflet-right {
    right: 390px;
  } /*make bigger here (move original map control)*/

  .leaflet-sidebar.right.visible ~ .leaflet-bottom.leaflet-right {
      right: 0;
    } /*make bigger here (move original map control)*/

.leaflet-sidebar {
    padding: 0;
    width: 400px;
    -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
    .leaflet-control {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        padding: 0 8px;
        width: 400px;
        box-shadow: none !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }

    .close {
        z-index: 15000;
        color: rgba(0, 0, 0, 0.6);
        line-height: 0.9em;
        width: 25px;
        height: 25px;
        left: 308px;
        top: 1px;
        font-size: 20px;
        background: transparent;
    }

    h3 {
        font-size: 1.5em;
        margin: 20px 0;
    }

    #show-tweet-sidebar {
      border: 0px;
      pointer-events:none;
        .story {
            display: grid;
            grid-gap: 200px;
            grid-template-columns: 100%;
        }
        .tweet {
            position: relative;
            &:not(.loading) {
                opacity: 0.4;
                transition: all 0.2s linear;


                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    margin-top: 0px;
                    cursor:pointer;
                }

                &.selected {
                    opacity: 1;
                    .overlay {
                        display: none;
                    }
                }

            }
        }
    }

    #new-tweet-sidebar {
        position: relative;
        .select {
            position: relative;
            font-size: 1em;

            select {
                width: 100%;
                flex: 1;
                padding: .2em .5em;
                cursor: pointer;
            }
        }
        textarea {
            z-index: 9999;
            width: 100%;
            margin: 20px 0;
        }
        .tweetBtn {
            float: right;
        }
    }
}
